[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
pyreadline3 = "*"
pandas = "*"
openpyxl = "*"
nltk = "*"
spacy = "*"
numpy = "*"
openai = "*"
lemminflect = "*"
unimorph = "*"

[dev-packages]

[requires]
python_version = "3.10"
